{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "API 1.0",
    "description": ""
  },
  "host": "pub-api-project.company.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v{version}/access-types/{category}/value": {
      "get": {
        "tags": [
          "AccessManager"
        ],
        "summary": "Get allowed AccessType value for user by category",
        "description": "This API endpoint send value allowed access type by catregory.",
        "operationId": "AccessManager_GetValueAccessTypeByCategory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "This is information about category AccessType.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "This is information about description AccessType.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "startsWith",
            "in": "query",
            "description": "This is information about name AccessType.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/access-types/{category}/allowed": {
      "get": {
        "tags": [
          "AccessManager"
        ],
        "summary": "Get allowed AccessType for user by category",
        "description": "This API endpoint send allowed access type by catregory.",
        "operationId": "AccessManager_GetAllowedAccessTypeByCategory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "This is information about category AccessType.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "This is information about description AccessType.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "startsWith",
            "in": "query",
            "description": "This is information about name AccessType.",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request."
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/ams/settings": {
      "get": {
        "tags": [
          "AccountManagementSettings"
        ],
        "summary": "Get AMS providers",
        "description": "Get AMS providers",
        "operationId": "AccountManagementSettings_GetSettings",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets AMS enabled providers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountOpeningProviderResource"
              }
            }
          },
          "409": {
            "description": "An error occurred in attempt to get AMS providers"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/ams/configuration": {
      "get": {
        "tags": [
          "AccountManagementSettings"
        ],
        "summary": "Get Account Opening configuration",
        "description": "Get AMS providers",
        "operationId": "AccountManagementSettings_GetConfiguration",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Account Opening configuration",
            "schema": {
              "$ref": "#/definitions/AccountOpeningConfigurationResource"
            }
          },
          "409": {
            "description": "An error occurred in attempt to get configuration"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/ams/settings/audit": {
      "get": {
        "tags": [
          "AccountManagementSettings"
        ],
        "summary": "Get AMS audit providers",
        "description": "Get AMS audit providers",
        "operationId": "AccountManagementSettings_GetSettingsAudit",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets AMS enabled providers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountOpeningProviderResource"
              }
            }
          },
          "409": {
            "description": "An error occurred in attempt to get AMS providers"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/ams/settings/forms/{formType}": {
      "get": {
        "tags": [
          "AccountManagementSettings"
        ],
        "summary": "Get AMS account opening form settings",
        "description": "Get AMS account opening form settings",
        "operationId": "AccountManagementSettings_GetFormSettings",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "formType",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "None",
              "JotForm",
              "Direct",
              "FcStone"
            ]
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets account opening from settings",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "409": {
            "description": "An error occurred in attempt to get AMS account opening form settings"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-requests/{requestId}": {
      "get": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Get specific account request",
        "description": "This endpoint enables you to retrieve a specific account request.",
        "operationId": "AccountRequests_GetAccountOpeningRequestById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "ID of the account request whose information must be returned",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing the information about the request is returned",
            "schema": {
              "$ref": "#/definitions/AccountRequestResource"
            }
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-requests/{requestId}/forms": {
      "get": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Get PDF files associated with account request",
        "description": "This endpoint enables you to retrieve all PDF files associated with an account opening request.",
        "operationId": "AccountRequests_GetAccountPDFFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "ID of the request whose PDF files must be retrieved",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing the PDF files is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAccountPDFFileDto"
              }
            }
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/users/{userId}/account-requests": {
      "get": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Get user's pending account requests",
        "description": "This endpoint enables you to retrieve a user's pending account requests.",
        "operationId": "AccountRequests_GetUserPendingAccountOpeningRequest",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of the user whose pending requests must be retrieved",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "includeSystemStatuses",
            "in": "query",
            "description": "Indicates that the response would include not only user-related statuses (New, Rejected, RejectedByClearing), but also system-related statuses (Submitted, Approved, ProcessingByClearing)",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing the user's pending account requests is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountRequestResource"
              }
            }
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/accounts/{clearingAccount}/account-requests": {
      "get": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Get requests of an account",
        "description": "This endpoint enables you to retrieve all requests associated with a specific trading account by specified filter.",
        "operationId": "AccountRequests_GetAccountRequests",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clearingAccount",
            "in": "path",
            "description": "ID of the trading account at the clearing firm",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by account request type",
            "required": false,
            "type": "string",
            "enum": [
              "None",
              "Open",
              "Update",
              "Close",
              "ReOpen"
            ]
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Filter by account request statuses.\r\n            In case the list of statuses is empty, the method will return requests with the following statuses: New, Rejected, RejectedByClearing. For backward compatibility",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "None",
                "New",
                "Submitted",
                "Approved",
                "Rejected",
                "ProcessingByClearing",
                "RejectedByClearing",
                "ApprovedByClearing",
                "Canceled",
                "SubmittedByBroker"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing the associated account requests is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountRequestResource"
              }
            }
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-requests/{requestId}/history": {
      "get": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Get account request's state history",
        "description": "This endpoint enables you to retrieve the history of a particular account request's state.",
        "operationId": "AccountRequests_GetAccountOpeningRequestsHistory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "ID of the request whose history must be retrieved",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Parameter by which the history must be sorted",
            "required": true,
            "type": "string"
          },
          {
            "name": "isDesc",
            "in": "query",
            "description": "Indicates if the returned history must be sorted in descending (true) or ascending (false) order",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing the history of the request's state is returned",
            "schema": {
              "$ref": "#/definitions/PagingResult[AccountRequestVersionResource]"
            }
          },
          "400": {
            "description": "Filter query is invalid or contains unsupported operations"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-requests": {
      "get": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Get all account requests",
        "description": "This endpoint enables you to retrieve all account requests created by traders in your brokerage firm.",
        "operationId": "AccountRequests_GetAccountRequestsPage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Parameter by which the returned requests must be sorted",
            "required": true,
            "type": "string"
          },
          {
            "name": "isDesc",
            "in": "query",
            "description": "Indicates if the returned requests must be sorted in descending (true) or ascending (false) order",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of requests that must be returned",
            "required": true,
            "type": "string",
            "enum": [
              "None",
              "Open",
              "Update",
              "Close",
              "ReOpen"
            ]
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filters returned requests by status",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "None",
                "New",
                "Submitted",
                "Approved",
                "Rejected",
                "ProcessingByClearing",
                "RejectedByClearing",
                "ApprovedByClearing",
                "Canceled",
                "SubmittedByBroker"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter query used to retrieve only those orders that satisfy the conditions of the query.",
            "required": false,
            "type": "string",
            "format": "String"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing all account requests is returned",
            "schema": {
              "$ref": "#/definitions/PagingResult[AccountRequestResource]"
            }
          },
          "400": {
            "description": "Filter query is invalid or contains unsupported operations"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-requests/{requestId}/cancel": {
      "put": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Cancel account request",
        "description": "This endpoint enables you to cancel an account opening request.",
        "operationId": "AccountRequests_CancelAccountRequestAsync",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "ID of the request that needs to be cancelled",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON data containing information about the request cancellation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelRequestResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Successful request, the account request was successfully cancelled"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-requests/{requestId}/reject": {
      "put": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Reject account request",
        "description": "This endpoint enables you to reject an account opening request.",
        "operationId": "AccountRequests_RejectAccountRequestAsync",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "ID of the request that needs to be rejected",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON data containing information about the request rejection",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RejectRequestResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Successful request, the account request was successfully rejected"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-requests/{requestId}/submit": {
      "put": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Submit account request",
        "description": "This endpoint enables you to submit an account request (step 2 of 3).",
        "operationId": "AccountRequests_SubmitAccountRequest",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "ID of the request that needs to be submitted",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON data containing information about the submitted request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitRequestResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Successful request, the account request was successfully submitted"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-requests/{requestId}/verify": {
      "put": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Verify account request data",
        "description": "This endpoint enables you to verify account request data.",
        "operationId": "AccountRequests_VerifyAccountRequest",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "ID of the request that needs to be verified",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Successful request"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-requests/{requestId}/approve": {
      "put": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Approve account request",
        "description": "This endpoint enables you to approve an account opening request (step 3 of 3).",
        "operationId": "AccountRequests_ApproveAccountRequestAsync",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "ID of the request that needs to be approved",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON data containing information about the request approval",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApproveRequestResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Successful request, the account request was successfully approved"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-requests/close": {
      "post": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Create account closing request",
        "description": "This endpoint enables you to create an account closing request.",
        "operationId": "AccountRequests_CreateCloseAccountRequest",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "JSON data containing information about the account closing request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCloseAccountRequestResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing information about the request is returned",
            "schema": {
              "$ref": "#/definitions/AccountRequestResource"
            }
          },
          "409": {
            "description": "Unable to create an account closing request"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-requests/update": {
      "post": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Create account modification request",
        "description": "This endpoint enables you to create an account modification request.",
        "operationId": "AccountRequests_CreateUpdateAccountRequest",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "JSON data containing updated information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUpdateAccountRequestResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing updated information is returned",
            "schema": {
              "$ref": "#/definitions/AccountRequestResource"
            }
          },
          "409": {
            "description": "Unable to create an account modification request"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/user/{userId}/account-requests/open": {
      "post": {
        "tags": [
          "AccountRequests"
        ],
        "summary": "Create account opening request",
        "description": "This endpoint enables you to create an account opening request (step 1 of 3).",
        "operationId": "AccountRequests_CreateOpenAccountRequest",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of the user on whose behalf the account opening request is being created",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON data containing information about the new request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOpenAccountRequestResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing the information about the new request is returned",
            "schema": {
              "$ref": "#/definitions/AccountRequestResource"
            }
          },
          "409": {
            "description": "Unable to create a new account opening request. Invalid parameters: ClearingProvider or FormType"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/users/{userId}/account-transfer-requests": {
      "get": {
        "tags": [
          "AccountTransferRequests"
        ],
        "summary": "Get user's pending account transfer requests",
        "description": "This endpoint enables you to retrieve a user's pending account transfer requests.",
        "operationId": "AccountTransferRequests_GetUserPendingAccountOpeningRequest",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of the user whose pending requests must be retrieved",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON data containing the user's pending account requests is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountTransferResource"
              }
            }
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-transfer-requests/{requestId}/submit": {
      "put": {
        "tags": [
          "AccountTransferRequests"
        ],
        "summary": "Submit account transfer request",
        "description": "This endpoint enables you to submit an account transfer request.",
        "operationId": "AccountTransferRequests_SubmitAccountTransferRequest",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "ID of the request that needs to be submitted",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON data containing information about the submitted request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitAccountTransferRequestResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Successful request, the account transfer request was successfully submitted"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-transfer-requests/{accountId}": {
      "post": {
        "tags": [
          "AccountTransferRequests"
        ],
        "summary": "Create account transfer request",
        "description": "This endpoint enables you to create an account transfer request.",
        "operationId": "AccountTransferRequests_CreateAccountTransferRequest",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account number of account which needs to be transferred",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, the account transfer request was successfully created"
          },
          "409": {
            "description": "Unsuccessful request, the account transfer request was not created"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/account-transfer-requests/{requestId}/cancel": {
      "post": {
        "tags": [
          "AccountTransferRequests"
        ],
        "summary": "Cancel account transfer request",
        "description": "This endpoint enables you to cancel an account transfer request.",
        "operationId": "AccountTransferRequests_CancelAccountTransferRequest",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "ID of the request that needs to be cancelled",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON data containing information about the cancelled request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyAccountTransferRequestResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Successful request, the account transfer request was successfully cancelled"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/ach-relationships/{id}": {
      "get": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Get a specific ACH relationship",
        "description": "This endpoint enables you to retrieve information about a specific ACH relationship of some trading account.",
        "operationId": "AchRelationships_GetAchRelationship",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose ACH relationship must be retrieved.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the ACH relationship whose information must be retrieved.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, JSON object containing information about the ACH relationship is returned.",
            "schema": {
              "$ref": "#/definitions/AchRelationshipResource"
            }
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      },
      "put": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Update an ACH relationship",
        "description": "This endpoint enables you to update an existing ACH relationship of a specific trading account.",
        "operationId": "AchRelationships_ModifyAchRelationship",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose ACH relationship must be updated.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the ACH relatioship that must be updated.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON object containing the new name of the linked bank.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAchRelationshipResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, updated ACH relationship is returned.",
            "schema": {
              "$ref": "#/definitions/AchRelationshipResource"
            }
          },
          "409": {
            "description": "Failed to update the ACH relationship."
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      },
      "delete": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Remove an ACH relationship",
        "description": "This endpoint enables you to unlink a banking account from a specific trading account.",
        "operationId": "AchRelationships_CloseBankAchRelationship",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose ACH relationship must be removed.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the ACH relationship that must be removed.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "reason",
            "in": "query",
            "description": "Reason for removing the ACH relationship.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, the ACH relationship has been removed.",
            "schema": {
              "$ref": "#/definitions/AchRelationshipResource"
            }
          },
          "409": {
            "description": "Failed to remove the ACH relationship."
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/ach-relationships/default": {
      "get": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Get the default (selected) ACH relationship",
        "description": "This endpoint enables you to get the default (selected) ACH relationship bound to an existing trading account.",
        "operationId": "AchRelationships_GetDefaultAchRelationship",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose default ACH relationship is to be retrieved.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, the default ACH relationship is returned.",
            "schema": {
              "$ref": "#/definitions/AchRelationshipResource"
            }
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/ach-relationships": {
      "get": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Get an account's ACH relationships",
        "description": "This endpoint enables you to retrieve a list of all ACH relationships bound to a specific trading account.",
        "operationId": "AchRelationships_GetAchRelationshipsPage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose ACH relationships must be listed.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number (all ACH relationships are split in pages).",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Parameter by which the returned ACH relationships must be sorted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "isDesc",
            "in": "query",
            "description": "Determines if returned ACH relationships must be sorted in descending or ascending order.",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filters ACH relationships by status.",
            "required": false,
            "type": "string",
            "enum": [
              "Pending",
              "Approved",
              "Canceled",
              "Error",
              "PendingCancel",
              "PendingApproval"
            ]
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a collection of ACH relationships is returned.",
            "schema": {
              "$ref": "#/definitions/PagingResult[AchRelationshipResource]"
            }
          },
          "400": {
            "description": "Filter query is invalid or contains unsupported operations."
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      },
      "post": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Create a new ACH relationship",
        "description": "This endpoint enables you to create a new ACH relationship.",
        "operationId": "AchRelationships_ModifyAchRelationship",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account to which the new ACH relationship will be bound.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON object containing all parameters required for a new ACH relationship.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAchRelationshipResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, a new ACH relationship has been created.",
            "schema": {
              "$ref": "#/definitions/AchRelationshipResource"
            }
          },
          "409": {
            "description": "Failed to create a new ACH relationship."
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/ach-relationships/plaid": {
      "post": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Create ACH relationships from a PLAID link",
        "description": "This endpoint enables you to create multiple accounts from a single PLAID link.",
        "operationId": "AchRelationships_CreateAchRelationshipsWithPlaid",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account to which the new ACH relationships will be bound.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON object containing PLAID data to identify the bank and accounts.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAchRelationshipsPlaidResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, ACH relationships have been created.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AchRelationshipResource"
              }
            }
          },
          "409": {
            "description": "Failed to create ACH relationships."
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/ach-relationships/{id}/approve": {
      "post": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Approve an ACH relationship",
        "description": "This endpoint enables you to approve a new ACH relationship.",
        "operationId": "AchRelationships_ApproveBankAchRelationship",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose ACH relationship is to be approved.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the ACH relationship that is to be approved.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "model",
            "in": "body",
            "description": "JSON object containing two charges from the banking statement.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApproveAchRelationshipResource"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request, the ACH relationship has been approved.",
            "schema": {
              "$ref": "#/definitions/AchRelationshipResource"
            }
          },
          "409": {
            "description": "Failed to approve the ACH relationship."
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/accounts/{accountId}/ach-relationships/{id}/default": {
      "post": {
        "tags": [
          "AchRelationships"
        ],
        "summary": "Set the default (selected) ACH relationship",
        "description": "This endpoint enables you to s et the default (selected) ACH relationship for an existing trading account.",
        "operationId": "AchRelationships_SetDefaultAchRelationship",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the trading account whose default ACH relationship must be set.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the ACH relationship that will from now on be the default one.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "Successful request, the default ACH relationship has been set."
          },
          "409": {
            "description": "Failed to set the default ACH relationship for the specified trading account."
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/users/{userId}/agreements": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Get list of unsigned agreements",
        "description": "Returns list of unsigned agreements for specific user.",
        "operationId": "Agreements_GetUnsignedAgreements",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Internal ID of user.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of usigned agreements",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AgreementItemResource"
              }
            }
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/users/{userId}/agreements/{agreementId}/sign": {
      "post": {
        "tags": [
          "Agreements"
        ],
        "summary": "Signs the platform agreement",
        "description": "Signs the platform agreement.",
        "operationId": "Agreements_SignPlatformAgreement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Internal ID of user.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "agreementId",
            "in": "path",
            "description": "Internal ID of platform agreement.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "This is the authorization token that you retrieved from the first endpoint (/token).",
            "required": true,
            "type": "string"
          },
          {
            "name": "App-Key",
            "in": "header",
            "description": "This is your app’s unique key that can be retrieved from the BO Companies widget in app.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Platform agreements succesfully signed"
          },
          "403": {
            "description": "The provided App-Key is incorrect."
          },
          "500": {
            "description": "Internal server error"
          },
          "401": {
            "description": "The access level of the provided authorization token is not sufficient to perform this operation."
          },
          "422": {
            "description": "A validation error occurred while processing the request."
          }
        }
      }
    },
    "/v{version}/applications/spa/settings": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get SPA Application Settings",
        "operationId": "Applications_GetSPAApplicationSettings_SwaggerAnonymous",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "This is the version of the API. Unless you have multiple versions of app’s API deployed in your environment, leave it at 1.0.",
            "required": true,
            "type": "string",
            "default": "1.0"
          },
          {
            "name": "App-Key",
            "in": "header",
[...]
